h1, div, button, select, .delete, td select {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

.left-container {
    display: inline-block;
    width: 25%;
    position: absolute;
    top: 7.5%;
    left: 1%;
}

input {
    width: 100%;
    font-size: large;
    margin-bottom: 5%;
}

#read-selector, #add-btn, p {
    font-size: large;
    display: inline-block;
}

#add-btn {
    color: rgb(92, 92, 92);
    background-color: rgb(65,135,247, .6);
}

#read-status {
    margin-bottom: 5%;
}

#read-selector {
    float: right;
}

#read-question {
    margin: 0px;
}

th {
    border-bottom: 1px solid black;
    width: 20%;
}

.delete, td select {
    font-size: 16px;
}

.delete {
    background-color: rgba(255, 64, 64, 0.6);
}

table {
    table-layout: fixed;
    text-align: center;
    width: 70%;
    position: absolute;
    top: 10%;
    left: 30%
}